<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well"}) do |f| %>

      <fieldset>
        <legend>Sign in</legend>
        <%= f.input :email %>
        <%= f.input :password %>

        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :boolean %>
        <% end -%>

        <div class="actions">
          <%= f.button :submit, "Log In" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= render "devise/shared/links" %>
  </div>
</div>